{% extends 'parts/layout-advertisers.twig' %}

{% block title %}
	<title>New Add Advertisers - ICEX Media</title>
{% endblock %}


{% block content %}
{#NEW ADD ADVERTISERS#}
	<div class="std-adv js-page"  style="background-image: url(img/contact-us-bg.jpg)">
		<div class="std-adv__container container">
			<h1 class="std-adv__title">Create a New Ad</h1>
			<div class="std-adv__content std-adv__content_center">
				<div class="form">
					<form>
						<div class="form__input-container js-form-input-container">
							<div class="form__input-text-wrap form__input-text-wrap_account">
								<label for="adv-new-title" class="form__input-text js-input-text">Title</label>
								<p class="form__input-under-text">For your reference</p>
							</div>
							<div class="form__input-holder">
								<input id="adv-new-title" type="text" class="form__input js-form-input">
							</div>
						</div>
						<div class="form__input-container">
							<div class="form__input-text-wrap form__input-text-wrap_account">
								<label for="adv-new-show" class="form__input-text js-input-text">Show another zone:</label>
							</div>
							<div class="form__select-holder">
								<select id="adv-new-show" class="form__select">
									<option value="1">Banners Full Size 468x60 - Keywords</option>
									<option value="2">Banners Full Size 468x60 - Keywords</option>
									<option value="3">Banners Full Size 468x60 - Keywords</option>
									<option value="4">Banners Full Size 468x60 - Keywords</option>
								</select>
							</div>
						</div>
						<div class="form__submit-container">
							<div class="form__submit-holder form__submit-holder_account">
								<button class="form__submit btn">continue</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{#/NEW ADD ADVERTISERS#}
{% endblock %}
