<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	{% block title %}
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<style>
		body {
			opacity: 0;
		}
	</style>
</head>

<body>

<div class="all-wrap" id="all-wrap">
	{% block header %}
		{% include 'parts/header-advertisers.twig' %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block footer %}
		{% include 'parts/footer-advertisers.twig' %}
	{% endblock %}

	<div class="up-arrow" id="up-arrow"></div>

	{% block userscripts %}
	{% endblock %}
</div>

<!-- uncache -->
<link rel="stylesheet" href="css/main.css">
<!-- enduncache -->

{% block scripts %}
<!-- uncache -->
<script src="scripts/app.min.js"></script>
<!-- enduncache -->
{% endblock %}

</body>
</html>